body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;

  --media-size: 600px;
}

#root {
  height: 100%;
}

.page-layout {
  display: flex;
  flex-flow: column wrap;
  width:100%;

  gap: 1rem;
  padding: 0 100px;
  justify-content: space-around;
  align-items: center;
  margin-bottom:4rem;
}


.button {
  text-align: center;
  display: block;
  padding: 5px 7.5px;
  border:2px gray solid;
  border-radius: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  background-color: white;
  color:gray;
  width:fit-content;
}

.button:is(:hover, :active) {
  border-color:black;
  color: black;
}

.button:active {
  background-color: rgb(212, 212, 212);
}

.button:disabled {
  background-color: rgb(207, 207, 207);
  border-color: gray;
  color: gray;
}
